ghost-jmx/src/main/resources/META-INF/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://code.guahao.org/schema/test"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://code.guahao.org/schema/test" elementFormDefault="qualified"
            attributeFormDefault="unqualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:element name="user">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="userId" type="xsd:string" use="required" />
                    <xsd:attribute name="userName" type="xsd:string" use="required" />
                    <xsd:attribute name="sex" type="xsd:string" use="optional" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>